@define-color bg    #1a1b26;
@define-color fg    #a9b1d6;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color brblk #444b6a;
@define-color white #ffffff;

* {
    font-family: "Maple Mono NF CN", monospace;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid @bg;
}

#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.hidden {
    color: @white;
}

#workspaces button.hidden.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @white;
}

#custom-sep {
    padding: 0 4px;
    color: @brblk;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-power,
#window {
    padding: 0 8px;
    color: @white;
}

#window {
    color: @fg;
}

#clock {
    color: @cyn;
    border-bottom: 2px solid @cyn;
}

#network {
    color: @red;
    border-bottom: 2px solid @red;
}

#network.disconnected {
    background-color: @red;
    color: @bg;
}

#cpu {
    color: @grn;
    border-bottom: 2px solid @grn;
}

#memory {
    color: @mag;
    border-bottom: 2px solid @mag;
}

#temperature {
    color: @ylw;
    border-bottom: 2px solid @ylw;
}

#temperature.critical {
    color: @red;
    border-bottom: 2px solid @red;
}

#pulseaudio {
    color: @blu;
    border-bottom: 2px solid @blu;
}

#pulseaudio.muted {
    color: @brblk;
    border-bottom: 2px solid @brblk;
}

#backlight {
    color: @ylw;
    border-bottom: 2px solid @ylw;
}

#custom-power {
    color: @cyn;
    padding: 0 10px;
}

#tray {
    padding: 0 8px;
}

tooltip {
    background-color: @bg;
    border: none;
}

tooltip label {
    color: @fg;
    padding: 3px 7px;
}
